/* 盒模型 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 基本樣式 */
body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

img {
  vertical-align: middle; /* 移除圖片空隙 (emmet:vam) */
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

li {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 12px;
}

/* 通用樣式 */
.container {
  width: 856px;
  margin: 0 auto;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.py-400 {
  color: rgba(87, 162, 3, 1);
}

.bd-1 {
  border-bottom: 1px solid rgba(222, 226, 230, 1);
}

/* 自定義樣式 */
.page-title {
  background-image: url(../images/Hero\ Section.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
  padding-top: 151px;
  padding-bottom: 151px;
  text-align: center;
}

.brand-quote {
  background: rgba(245, 254, 231, 1);
  padding: 32px;
  text-align: center;
  color: rgba(33, 37, 41, 1);
}

.brand-intro img {
  margin-right: -110px;
  margin-left: -110px;
  width: 1076px;
}

.brand-history span {
  border-left: 1px solid rgba(33, 37, 41, 1);
  padding-left: 8px;
  margin-left: 8px;
}

.brand-concept p {
  border-left: 3px solid rgba(222, 226, 230, 1);
  padding-left: 8px;
}

.brand-story a {
  color: rgba(87, 162, 3, 1);
  border-bottom: 1px solid rgba(87, 162, 3, 1);
  margin-left: 8px;
  padding-bottom: 4px;
}

.copyright {
  text-align: center;
  color: rgba(108, 117, 125, 1);
  font-size: 14px;
  padding: 64px 0px;
  background: rgba(248, 249, 250, 1);
}
