body {
  font-weight: 500;
}

.container {
  padding-left: 12px;
  padding-right: 12px;
}

/* 左側--產品類別--menu */
.menu li {
  padding: 8px 0px;
  margin-bottom: 16px;
}

.menu-item-active {
  color: var(--primary-400);
}

/* 右側--產品列表--product_cardlist */
.product_card img {
  padding-bottom: 12px;
}

.product_card h6 {
  font-weight: 700;
  padding-bottom: 4px;
}

@media (max-width: 767px) {
  .product_card img {
    padding-bottom: 8px;
  }
  .product_card h6 {
    padding-bottom: 0px;
  }
}

/* pagebar */
.page-item .btn {
  padding: 8px 15px;
  border-radius: 0;
}

.page-item .active {
  background: var(--primary-300);
  font-weight: 500;
}

/* register */
.register {
  text-align: center;
  background: var(--primary-200);
  padding: 24px 0px;
}

.register p {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin-right: 24px;
}

.register .btn {
  background: var(--Neutral-900);
  color: rgba(255, 255, 255, 1);
}

/* footer */
.footer {
  background: rgba(248, 249, 250, 1);
  padding: 64px 0px;
}

@media (max-width: 576px) {
  .footer img {
    width: 129px;
  }
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: var(--Neutral-600);
  padding-top: 32px;
  border-top: 1px solid var(--Neutral-300);
}
